.about-me-section {
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.profile-container {
    height: 100%;
    overflow-y: auto;
    max-width: 700px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 70px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-image {
    width: min(300px, 80vw); // Tomará el menor valor entre 300px y 80% del ancho de la ventana
    height: min(300px, 80vw);
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);   
}

.about-title {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
}

.about-description {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.skill-badge {
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
