<section class="about-me-section">
    <div class="profile-container">
        <img src="assets/images/soldado-blanco.png" class="profile-image" alt="Foto de perfil">
        <h2 class="about-title">Sobre mí</h2>
        <p class="about-description">
            I'm a frontend developer with a passion for creating dynamic and efficient web applications. I have
            experience in software testing, web development with Angular, and enjoy working in a team to develop
            innovative solutions. My goal is to continue learning and improving my skills in the world of programming.
        </p>
        <p class="about-description">
            English level: Intermediate (A2 - B1), constantly improving.
        </p>
        <div class="skills">
            <span class="skill-badge">JavaScript</span>
            <span class="skill-badge">Angular</span>
            <span class="skill-badge">CSS</span>
            <span class="skill-badge">HTML</span>
            <span class="skill-badge">PostgreSQL</span>
            <span class="skill-badge">Playwright</span>
            <span class="skill-badge">Selenium</span>
            <span class="skill-badge">Jmeter</span>
        </div>
    </div>
</section>