<mat-card class="carousel-component">
  <div class="carousel-block">
    <div class="carousel">
      <h2 mat-card-title>{{ items[currentIndex].title }}</h2>

      <div class="carousel-container">
        <button mat-icon-button class="nav-button prev" (click)="prev()">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div class="carousel-content">
          <img [src]="items[currentIndex].image" [alt]="items[currentIndex].title">
        </div>

        <button mat-icon-button class="nav-button next" (click)="next()">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>

      <div class="carousel-indicators">
        <button mat-button *ngFor="let item of items; let i = index" [class.active]="i === currentIndex"
          (click)="selectSlide(i)">
        </button>
      </div>

    </div>
    <div class="tecnology-used">
      <h2>Technologies Used</h2>
      <div>
        <img *ngFor="let tech of items[currentIndex].technologies" [src]="tech" class="tech-icon" alt="technology">
      </div>
    </div>
  </div>
</mat-card>