.carousel-component {
  height: 95vh;
}

.carousel {
  text-align: center;
  height: 90vh;
}

.carousel-container {
  position: relative;
  padding: 10px;
  height: 78%;
}

.carousel-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-content img {
  height: 50vh;
  max-width: 100%;
  border-radius: 30px;
}


.nav-button {
  margin: 0 10px;
  background-color: #0d6efd;
  color: white;
}

.next {
  position: absolute;
  top: 50%;
  height: 52px;
  right: 4%;
  width: 48px;

}

.prev {
  position: absolute;
  top: 50%;
  height: 52px;
  left: 4%;
  width: 48px;

  z-index: 1;
}

.carousel-block {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-flow: column;
}

.carousel-indicators {
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-indicators button.active {
  background-color: #0d6efd;
}

.tecnology-used {
  height: 15vh;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.tecnology-used .tech-icon {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}

h2 {
  margin: 0;
}